
<div class="col-sm-8">
 <dl class="dl-horizontal">
  <dt>User</dt>
    <dd><%= review.user.name %></dd>
  <dt>Product_Number</dt>
    <dd><%= review.product.id %></dd>
  <dt>Review</dt>
    <dd><%= review.description %></dd>
  <dt>Rating</dt>
    <dd><%= review.rating %></dd>
 </dl>
</div>