<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>RECEIPT FOR CHARGE : <%= @order.id %> </h1>
    <h2>Date: <%= @order.created_at %></h2>
    <h2> Billed to :</h2>
    <p>
      Thank you for your order!<br>
      We have successfully received payment for your recent purchase. Please keep this receipt for your own records.
    <p>
      On behalf of the E-commerce Staff, thank you for choosing e-commerce !
    </p>
  </body>
</html>     